html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aad3df; /* oceaankleur */
}

.leaflet-container {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #aad3df !important; /* dwing Leaflet tot zelfde kleur */
  background: #aad3df !important;
  border: none !important;
}
